
.macbook-air {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(180deg, rgb(42, 46, 53) 49.78%, #303641 85%);
  width: 100%;
  height: 100vh;
  position: relative;
}



.macbook-air .nav {
  position: absolute;
  width: 100%;
  height: 6.5rem;
  top: 0;
  left: 0;
}

.macbook-air .Abubaker {
  position: absolute;
  top: 22px;
  left: 28px;
  font-weight: 500;
  color: #009986;
  font-size: 40px;
}

.macbook-air .dialog {
  position: absolute;
  width: 174px;
  height: 37px;
  top: 60px;
  left: 30px;
}

.macbook-air .dialog-group {
  position: relative;
  height: 39px;
}

.macbook-air .line {
  position: absolute;
  top: 15px;
  left: 0;
}

.macbook-air .img {
  position: absolute;
  top: 16px;
  left: 33px;
}

.macbook-air .line-2 {
  position: absolute;
  top: 16px;
  left: 33px;
}

.macbook-air .line-3 {
  position: absolute;

  top: 16px;
  left: 56px;
}

.macbook-air .line-4 {
  position: absolute;

  height: 19px;
  top: 0;
  left: 171px;
}

.macbook-air .header {
  position: absolute;
  width: 993px;
  top: 244px;
  left: 48px;
  font-family: "Agbalumo", Helvetica;
  font-weight: 400;
  font-size: 53px;
  line-height: normal;
}

.macbook-air .span {
  color: #ffffff;
}

.macbook-air .subtitle {
  color: #fbbc05;
}

.macbook-air .subtitle-2 {
  color: #ff0000;
}

.macbook-air .chart-container {
  position: absolute;
  width: 420px;
  height: 450px;
  top: 140px;
  right: 40px;
}

.macbook-air .group-2 {
  position: absolute;
  width: 153px;
  height: 64px;
  top: 364px;
  left: 127px;
}

.macbook-air .subtitle-3{
  top: 0;
  left: 0;
  font-size: 50px;
  letter-spacing: 0;
  position: absolute;
  font-family: "Alatsi", Helvetica;
  font-weight: 400;
  color: #ff0000;
  line-height: normal;
}

.macbook-air .subtitle-4 {
  top: 3px;
  left: 82px;
  font-size: 45px;
  letter-spacing: -5.85px;
  position: absolute;
  font-family: "Alatsi", Helvetica;
  font-weight: 400;
  color: #ff0000;
  line-height: normal;
}

.macbook-air .arrow {
  position: absolute;
  width: 44px;
  height: 48px;
  top: 7px;
  left: 127px;
}

.macbook-air .chart {
  position: absolute;
  width: 380px;
  height: 258px;
  top: 88px;
  left: 18px;
}

.macbook-air .group-3 {
  position: absolute;
  width: 420px;
  height: 420px;
  top: 30px;
  left: 0;
}

.macbook-air .rocket {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 2px;
  left: 118px;
  transform: rotate(-1.53deg);
}

.macbook-air .overlap-wrapper {
  height: 140px;
}

.macbook-air .overlap-3 {
  position: relative;
  width: 141px;
  height: 138px;
  top: 1px;
}

.macbook-air .group-wrapper {
  position: absolute;
  width: 11px;
  height: 42px;
  top: 74px;
  left: 21px;
  transform: rotate(59.21deg);
}

.macbook-air .overlap-group-wrapper {
  height: 42px;
}

.macbook-air .overlap-group-2 {
  position: relative;
  width: 38px;
  height: 42px;
  left: -14px;
}

.macbook-air .intersect {
  position: absolute;
  width: 35px;
  height: 24px;
  top: 10px;
  left: 2px;
  transform: rotate(-57.67deg);
}

.macbook-air .ellipse {
  position: absolute;
  width: 11px;
  height: 24px;
  top: 0;
  left: 14px;
  background-color: #ffffff;
  border-radius: 5.25px/11.75px;
}

.div-wrapper {
  position: absolute;
  width: 98px;
  height: 106px;
  top: 16px;
  left: 21px;
  transform: rotate(59.21deg);
}

.macbook-air .overlap-4 {
  position: relative;
  height: 106px;
}

.macbook-air .subtract {
  position: absolute;
  width: 15px;
  height: 19px;
  top: 68px;
  left: 41px;
  transform: rotate(-57.67deg);
}

.macbook-air .group-4 {
  position: absolute;
  width: 98px;
  height: 106px;
  top: 0;
  left: 0;
}

.macbook-air .overlap-5 {
  position: relative;
  width: 101px;
  height: 102px;
  top: 2px;
  left: -2px;
}

.macbook-air .group-5 {
  position: absolute;
  width: 75px;
  height: 70px;
  top: 16px;
  left: 13px;
  transform: rotate(-50.46deg);
}

.macbook-air .overlap-6 {
  position: relative;
  width: 72px;
  height: 63px;
  top: 7px;
}

.macbook-air .group-6 {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 5px;
  left: 0;
}

.macbook-air .overlap-group-3 {
  position: relative;
  width: 56px;
  height: 54px;
  top: 4px;
  left: -1px;
}

.macbook-air .subtract-2 {
  width: 38px;
  height: 28px;
  top: 2px;
  left: 2px;
  position: absolute;
  transform: rotate(-7.21deg);
}

.macbook-air .subtract-3 {
  width: 27px;
  height: 31px;
  top: 21px;
  left: 26px;
  position: absolute;
  transform: rotate(-7.21deg);
}

.macbook-air .intersect-2 {
  width: 38px;
  height: 40px;
  top: 14px;
  left: 11px;
  position: absolute;
  transform: rotate(-7.21deg);
}

.macbook-air .subtract-4 {
  width: 59px;
  height: 46px;
  top: 4px;
  left: 10px;
  position: absolute;
  transform: rotate(-7.21deg);
}

.macbook-air .intersect-3 {
  width: 28px;
  height: 32px;
  top: 11px;
  left: 23px;
  position: absolute;
  transform: rotate(-7.21deg);
}

.macbook-air .group-7 {
  position: absolute;
  width: 5px;
  height: 55px;
  top: 25px;
  left: 48px;
}

.macbook-air .overlap-7 {
  position: relative;
  width: 28px;
  height: 37px;
  top: 18px;
  left: -12px;
}

.macbook-air .ellipse-2 {
  position: absolute;
  width: 5px;
  height: 18px;
  top: 0;
  left: 12px;
  background-color: #ff0000;
  border-radius: 2.53px/9.1px;
}

.macbook-air .ellipse-3 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: 13px;
  left: 2px;
  transform: rotate(-57.67deg);
}

.macbook-air .ellipse-wrapper {
  position: absolute;
  width: 14px;
  height: 15px;
  top: 20px;
  left: 41px;
  background-color: #c4c4c4;
  border-radius: 7.18px/7.68px;
  box-shadow: 0px 4px 4px #00000040;
}

.macbook-air .ellipse-4 {
  position: relative;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 3px;
  background-color: #6bc9d6;
  border-radius: 3.8px/4.07px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.macbook-air .image {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 570px;
  left: 540px;
  object-fit: cover;
}

@keyframes moveUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.moving-element {
  animation: moveUpDown 2s ease-in-out infinite;
}

.macbook-air-2  {
  background-color: #303641;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}



.macbook-air-2 .text-wrapper-6 {
  position: absolute;
  width: 227px;
  top: 125px;
  left: 526px;
  font-family: "Agbalumo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air-2 .overlap-7 {
  position: absolute;
  width: 1087px;
  height: 439px;
  top: 250px;
  left: 150px;
}

.macbook-air-2 .overlap-8 {
  position: absolute;
  width: 1011px;
  height: 300px;
  top: 0;
  left: 80px;
}

.macbook-air-2 .card {
  position: absolute;
  width: 1027px;
  height: 330px;
  top: -25px;
  left: 0;
  background-color: #2A2E35;
  border-radius: 20px;
}

.macbook-air-2 .overlap-9 {
  position: absolute;
  width: 971px;
  height: 282px;
  top: 2.2rem;
  left: 55px;
}

.macbook-air-2 .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  width: 971px;
  height: 234px;
  top: 0;
  left: 0;
}

.macbook-air-2 .text {
  position: relative;
  align-self: stretch;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.rectangle-1 {
  position: absolute;
  top: 80px;
  left: 38rem;
  width: 246px;
  height: 70px;
  background: #b26868;
}
.why-me {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  color: #303641;
  font-family: Suez One;
  font-size: 55px;
  font-weight: 1000;
  line-height: 28px;
  text-align: center;
}
}

.macbook-air-2 .span {
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
}


.div-wrapper-2 {
  position: absolute;
  width: 360px;
  height: 50px;
  background-color: #fbbc05;
  border-radius: 15px;
  position: absolute;
  top: 215px;
  left: 280px;
}

.macbook-air-2 .p {
  position: absolute;
  width: 360px;
  height: 31px;
  top: 10px;
  left: 14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air-2 .frame {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 37px;
  left: 16px;
}

.macbook-air-2 .frame-2 {
  top: 86px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 16px;
}

.macbook-air-2 .frame-3 {
  top: 162px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 16px;
}

.google-icon {
  position: absolute;
  width: 119px;
  height: 119px;
  bottom: 10px;
  right: 300px;
}

.facebook-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 25px;
  left: 228px;
}

.youtube-icon {
  position: absolute;
  width: 65px;
  height: 65px;
  bottom: 69px;
  left: 5px;
}

.google-ads-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 150px;
  left: 120px;
}

.tiktok-icon {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 160px;
  right: 290px;
}

.linkedin-icon {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 355px;
  right: 185px;
}


.macbook-air-3 {
  position: relative;
  width: 100%;
  height: 107vh;
  background: #303641;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 100%;
  height: 64px;
  z-index: 155;
}
.clients {
  display: flex;
  background: #fbbc05;
  align-items: center;
  justify-content: center;
  font-weight: 1000;
  margin: 5% 0 0 43%;
  width: 210px;
  height: 60px;
  color: #303641;
  font-size: 50px;
}
.card-2 {
  position: relative;
  width: 100%;
  height: 170px;
  margin: 57px 0 0 0;
  z-index: 6;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#2A2E35;
  z-index: 7;
}
.jawa-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}
.card-8a {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 65px 0 0 0;
  overflow: hidden;
}
.open-quote-svgrepo-com {
  display: flex;
  width: 100%;
  height: 55px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0;
}
.vector-8b {
  position: relative;
  width: 41.019px;
  height: 28.127px;
  margin: 16.36px 0 0 4.489px;
  background: url(./assets/images/d5ea1308-3e89-4150-af16-24684cf7393c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}
.struggling-marketing-part {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 45.455px;
  color: #ffffff;
  font-family: Roboto Slab, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 39.565px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
.jawa-cosmetic-store-saudi-arabia {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 1rem;
  color: #009986;
  font-family: Roboto Slab, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 29.015px;
  text-align: center;
  z-index: 3;
}
.background-8c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#2A2E35;
  z-index: 1;
}
.rectangle-8d {
  position: absolute;
  width: 1280px;
  height: 80px;
  top: 0;
  left: 0;
  background: #2a2e35;
  z-index: 151;
}


.macbook-air-4 {
  position: relative;
  width: 100%;
  height: 110vh;
  margin: 0 auto;
  background: #303641;
  overflow: hidden;
}
.rectangle-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 222px;
  height: 64px;
  margin: 3% 0 0 40%;
    background: #008847;
  z-index: 51;
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 202.922px;
  height: 44.066px;
  color: #303641;
  font-family: Suez One, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 44.066px;
  text-align: center;
  z-index: 51;
}
.all-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 28px;
  position: relative;
  width: 100%;
  height: 508px;
  margin: 3.5% 0 0 10%;
}
.upper-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 1220px;
  z-index: 1;
}
.card-3 {
  flex-shrink: 0;
  position: relative;
  width: 287px;
  height: 240px;
  z-index: 2;
  overflow: hidden;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;
  width: 224px;
  margin: 48px 0 0 32px;
  z-index: 4;
}
.icon {
  flex-shrink: 0;
  position: relative;
  width: 74px;
  height: 67.834px;
  background: url(./assets/images/a3ef3132-a70d-46c9-a949-9b48d8e6d3d2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}
.search-engine-optimization {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 224px;
  height: 56px;
  color: #c8c8c8;
  font-family: Rubik, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  z-index: 6;
}
.background-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2A2E35;
  border-radius: 15px;
  z-index: 3;
}
.card-1 {
  flex-shrink: 0;
  position: relative;
  width: 287px;
  height: 240px;
  z-index: 7;
  overflow: hidden;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;
  width: 177px;
  margin: 36px 0 0 28px;
  z-index: 9;
}
.svg-repo-icon-carrier {
  flex-shrink: 0;
  position: relative;
  width: 90px;
  height: 90px;
  z-index: 10;
}
.group {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/45686e15-e510-4b49-b07e-551c20f68da5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 11;
}
.search-engine-optimization-3 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #c8c8c8;
  font-family: Rubik, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.background-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2A2E35;
  border-radius: 15px;
  z-index: 8;
}
.card-5 {
  flex-shrink: 0;
  position: relative;
  width: 287px;
  height: 240px;
  z-index: 13;
  overflow: hidden;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 23px;
  position: relative;
  width: 189px;
  margin: 53px 0 0 32px;
  z-index: 15;
}
.icon-7 {
  flex-shrink: 0;
  position: relative;
  width: 74px;
  height: 54.267px;
  z-index: 16;
}
.laptop {
  position: absolute;
  width: 74px;
  height: 54.267px;
  top: 0;
  left: 0;
  z-index: 17;
}
.group-8 {
  position: absolute;
  width: 74px;
  height: 54.267px;
  top: 0;
  left: 0;
  z-index: 18;
}
.group-9 {
  position: relative;
  width: 64.133px;
  height: 44.4px;
  margin: 0 0 0 4.933px;
  z-index: 19;
}
.group-a {
  position: absolute;
  width: 64.133px;
  height: 44.4px;
  top: 0;
  left: 0;
  z-index: 20;
}
.group-b {
  position: absolute;
  width: 64.133px;
  height: 44.4px;
  top: 0;
  left: 0;
  z-index: 21;
}
.path {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/f10dfe8c-9317-4542-8ac4-47222d5f5d7b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
}
.group-c {
  position: relative;
  width: 74px;
  height: 7.4px;
  margin: 2.467px 0 0 0;
  z-index: 23;
}
.group-d {
  position: absolute;
  width: 74px;
  height: 7.4px;
  top: 0;
  left: 0;
  z-index: 24;
}
.path-e {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.05%;
  left: 0;
  background: url(./assets/images/be2889b1-7bce-4ee7-a7bd-932d6ca46cc7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 25;
}
.path-f {
  position: absolute;
  width: 13.34%;
  height: 45.47%;
  top: 24.07%;
  left: 43.33%;
  background: url(./assets/images/baebeff0-44f2-4d14-909c-20e0d1860e07.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 27;
}
.path-10 {
  position: absolute;
  width: 16.67%;
  height: 36.37%;
  top: 28.62%;
  left: 20%;
  background: url(./assets/images/18ad0f9f-cdd7-483f-83e3-718d343b780b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}
.path-11 {
  position: absolute;
  width: 16.67%;
  height: 36.36%;
  top: 28.63%;
  left: 63.33%;
  background: url(./assets/images/5aeea48e-2ae5-4790-9fe5-3249cdf3793e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 28;
}
.website-design-development {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 189px;
  height: 56px;
  color: #c8c8c8;
  font-family: Rubik, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  z-index: 29;
}
.background-12 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2A2E35;
  border-radius: 15px;
  z-index: 14;
}
.card-13 {
  flex-shrink: 0;
  position: relative;
  width: 287px;
  height: 240px;
  z-index: 30;
  overflow: hidden;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 19px;
  position: relative;
  width: 140px;
  margin: 41px 0 0 32px;
  z-index: 32;
}
.icon-15 {
  flex-shrink: 0;
  position: relative;
  width: 64.767px;
  height: 64.767px;
  background: url(./assets/images/e22711b7-b0c5-4ad3-82d4-4f260cf50c99.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 33;
}
.social-media-marketing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 140px;
  height: 56px;
  color: #c8c8c8;
  font-family: Rubik, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  z-index: 34;
}
.background-16 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2A2E35;
  border-radius: 15px;
  z-index: 31;
}
.lower-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 28px;
  position: relative;
  width: 602px;
  z-index: 35;
}
.card-17 {
  flex-shrink: 0;
  position: relative;
  width: 287px;
  height: 240px;
  z-index: 36;
  overflow: hidden;
}
.frame-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 23px;
  position: relative;
  width: 168px;
  margin: 57px 0 0 32px;
  z-index: 38;
}
.icon-19 {
  flex-shrink: 0;
  position: relative;
  width: 74px;
  height: 46.25px;
  z-index: 39;
}
.path-1a {
  position: absolute;
  width: 76.97%;
  height: 106.49%;
  top: -3.24%;
  left: -2.03%;
  background: url(./assets/images/3e9e8640-43a4-4f7b-a2bc-1d8cdfc04f2f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 40;
}
.path-1b {
  position: absolute;
  width: 31.14%;
  height: 84.21%;
  top: 7.9%;
  left: 70.89%;
  background: url(./assets/images/5d341aef-1f51-41c9-9201-a2e87fe710ed.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 41;
}
.video-editing-production {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 168px;
  height: 56px;
  color: #c8c8c8;
  font-family: Rubik, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  z-index: 42;
}
.background-1c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2A2E35;
  border-radius: 15px;
  z-index: 37;
}
.card-1d {
  flex-shrink: 0;
  position: relative;
  width: 287px;
  height: 240px;
  z-index: 43;
  overflow: hidden;
}
.frame-1e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 23px;
  position: relative;
  width: 91px;
  margin: 39px 0 0 32px;
  z-index: 45;
}
.icon-1f {
  flex-shrink: 0;
  position: relative;
  width: 62.91px;
  height: 63.182px;
  z-index: 46;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/638bb2a3-0aa0-4955-9051-f03d6e7183e0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 47;
}
.content-writing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 91px;
  height: 56px;
  color: #c8c8c8;
  font-family: Rubik, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  z-index: 48;
}
.background-20 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2A2E35;
  border-radius: 15px;
  z-index: 44;
  transition: background-color 0.3s ease;
}

.cardo:hover > [class^="background"] {
  background-color: #4c4f53;
}
@keyframes color-rotate {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(360deg);
  }
}


.Abubaker:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
}
