/* this is for the mobile vision */

@media all and (max-width: 767px) {
  html {
    scroll-behavior:smooth;
  }
    body{
      overflow-x: hidden;
      width: 100%;
    }
    .section-1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: linear-gradient(180deg, rgb(42, 46, 53) 49.78%, #303641 85%);
      width: 100%;
      height: 100vh;
      position: relative;
    }
     
    
    .Abubaker {
      position: absolute;
      top: 2.5%;
      left: 1.5%;
      font-weight: 500;
      color: #009986;
      font-size: 1.5rem;
    }
    
    .dialog-shape {
        height: 3.5%;
        position: absolute;
        top: 41px;
        left: 8px;
    }
    
    .section-1 .header {
        position: absolute;
        width: 90%;
        top: 18%;
        left: 5%;
        font-family: "Agbalumo", Helvetica;
        font-size: 2rem;
        line-height: normal;
        text-align: center;
    }
    
    .chart {
        position: absolute;
        height: 35%;
        top: 41%;
    }
    .rocket-container {
        display: inline-block;
        position: absolute;
        top: 40%;
        right: 39%;
        height: 20%;
        width: 32%;
      }
      
      .rocket {
        position: absolute;
        top: -3%;
        right: 5%;
        height: 65%;
        animation: flyUp 3s ease-in-out infinite;
        }
        @keyframes flyUp {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-10px);
            }
            100% {
              transform: translateY(0);
            }
          }

    
    @keyframes moveUpDown {
      0% { transform: translateY(0); }
      50% { transform: translateY(-20px); }
      100% { transform: translateY(0); }
    }
    
    .moving-element {
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        bottom: 1.5%;
        left: 41%;
        animation: moveUpDown 2s ease-in-out infinite;
    }
    
    .section-2  {
      background-color: #303641;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100vh;
      position: relative;
    }
    
    .why-me-container{
        position: absolute;
        top: 11%;
        left: 29%;
        width: 41%;
        height: 8%;
        background: #b26868;
    }
    .why-me {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #303641;
      font-family: Suez One;
      font-size: 37px;
      font-weight: 1000;
    }
    
    
    .section-2 .features-box {
        position: absolute;
        width: 90%;
        height: 60%;
        top: 35%;
        left: 3%;
    }
    
    .section-2 .features {
        position: absolute;
        width: 95%;
        height: 68%;
        left: 6%;
    }
    
    .section-2 .card {
        position: absolute;
        width: 100%;
        height: 119%;
        top: -15%;
        background-color: #2A2E35;
        border-radius: 20px;
    }
    
    .section-2 .features-text {
      position: absolute;
      width: 90%;
      height: 50%;
      top: 2.2rem;
      left: 6%;
    }
    
    .section-2 .flexcontainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10%;
        position: absolute;
        height: 100%;
        left: 8%;
    }
    
    .section-2 .text {
        position: relative;
        align-self: stretch;
        font-family: "Roboto", Helvetica;
        font-weight: 400;
        color: #ffffff;
        font-size: 14px;
        line-height: normal;
        font-weight: 600;

    }
    /* I stopped here */
    .div-wrapper-2 {
      position: absolute;
      width: 61%;
      height: 21%;
      background-color: #fbbc05;
      border-radius: 15px;
      top: 147%;
      left: 18%;
      align-content: center;
    }
    
    .section-2 .p {
      position: absolute;
      width: 90%;
      height: 100%;
      top: 0;
      left: 10%;
      font-family: "Roboto", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 15px;
      align-content: center;
    }
    
    .section-2 .frame {
      position: absolute;
    }
    
    .section-2 .frame-1 {
      top: 10%;
      left: 1.5%;
    }
    
    .section-2 .frame-2 {
      top: 25%;
      left: 1.5%;
    }
    
    .section-2 .frame-3 {
      top: 55%;
      left: 1.5%;
    }

    /* I stopped here */
    
    .google-icon {
      position: absolute;
      bottom: 13%;
      right: 7%;
      height: 10%;
    }
    
    .facebook-icon {
      position: absolute;
      bottom: 6%;
      left: 32%;
      height: 15%;
    }
    
    .youtube-icon {
      position: absolute;
      bottom: 15%;
      left: .5%;
      height: 12%;
    }
    
    .google-ads-icon {
      position: absolute;
      height: 7%;
      top: 21%;
      left: 8%;
    }
    
    .tiktok-icon {
      position: absolute;
      top: 20%;
      right: 7%;
      height: 8%;
    }
    
    .linkedin-icon {
      height: 5%;
      position: absolute;
      top: 23.3%;
      right: 40%;

    }
    
    .section-3 {
      position: relative;
      width: 100%;
      height: 90vh;
      background: #303641;
      overflow: hidden;
    }
    .clients-box {
      position: relative;
      width: 100%;
      height: 11vh;
      z-index: 155;
    }
    .clients {
      display: flex;
      background: #fbbc05;
      align-items: center;
      justify-content: center;
      font-weight: 1000;
      margin: 7% 0 0 30%;
      width: 40%;
      height: 70%;
      color: #303641;
      font-size: 40px;
    }
    .clients-logos {
      position: relative;
      width: 100%;
      height: 14vh;
      margin: 13% 0% 5% 0;
    }
    
    .clients-background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #2A2E35;
    }
    .jawa-logo{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2%;
    }
    .jawa-logo > img {
      width: 20%;
    }
    .testimonials {
      position: relative;
      width: 100%;
      height: 27vh;
      margin: 12vh 0 0 0;
      overflow: hidden;
    }
    /* I stopped here */
    .open-quote {
      display: flex;
      width: 100%;
      height: 23%;
      overflow: hidden;
      align-items: flex-start;
      justify-content: center;
      margin: 2% 0;
    }
    .quote-vector {
      position: relative;
      width: 6%;
      height: 45%;
      margin: 2% 0 0 0%;
      background: url(./assets/images/d5ea1308-3e89-4150-af16-24684cf7393c.png);
      background-size: 100% 100%;
      z-index: 3;
    }
    .struggling-marketing-part {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      width: 100%;
      color: #ffffff;
      font-family: Roboto Slab, var(--default-font-family);
      font-size: 19px;
      line-height: 33px;
      text-align: center;
      z-index: 2;
    }
    .jawa-cosmetic-store-saudi-arabia {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      margin-top: 1.7rem;
      color: #009986;
      font-family: Roboto Slab, var(--default-font-family);
      font-size: 19px;
      text-align: center;
      z-index: 3;
    }
    
    .testimonials-background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color:#2A2E35;
      z-index: 1;
    }
    .rectangle-8d {
      position: absolute;
      width: 1280px;
      height: 80px;
      top: 0;
      left: 0;
      background: #2a2e35;
      z-index: 151;
    }
    
    
    .section-4 {
      position: relative;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      background: #303641;
      overflow: hidden;
    }
    .services-box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 50%;
      height: 8vh;
      margin: 10vh 0 5vh 14vh;
      background: #008847;
      z-index: 50;
    }
    .services {
      display: flex;
      align-items: center;
      color: #303641;
      font-family: Suez One, var(--default-font-family);
      font-size: 43px;
      font-weight: 600;
    }
    
    .all-cards {
      position: relative;
      height: 50vh;
      margin: 8vh 0 0 8%;
    }
    .card-3 {
      position: absolute;
      width: 24vh;
      height: 20vh;
      left: -2vh;
    }
    
    .card-3-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      position: relative;
      width: 100%;
      margin: 15% 0 0 10%;
      z-index: 4;
    }
    .icon {
      flex-shrink: 0;
      position: relative;
      width: 6vh;
      height: 6vh;
      background: url(./assets/images/a3ef3132-a70d-46c9-a949-9b48d8e6d3d2.png) no-repeat center;
      background-size: 100% 100%;
      z-index: 5;
    }
    .search-engine-optimization {
      display: flex;
      width: 85%;
      color: #c8c8c8;
      font-family: Rubik, var(--default-font-family);
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      z-index: 6;
    }
    .background-99 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2A2E35;
      border-radius: 15px;
    }
    .card-1 {
      position: absolute;
      width: 24vh;
      height: 20vh;
      right: 3vh;
    }
    .card-1-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      position: relative;
      width: 100%;
      margin: 15% 0 0 10%;
      z-index: 9;
    }
    .email-marketing-icon{
      width: 8vh;
    }
    
    .email-marketing-text {
      color: #c8c8c8;
      font-family: Rubik, var(--default-font-family);
      font-size: 17px;
      line-height: 18px;

    }
    .background-4 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2A2E35;
      border-radius: 15px;
      z-index: 8;
    }
    .card-5 {
      position: absolute;
      width: 24vh;
      height: 20vh;
      top: 22vh;
      left: -2vh;
    }
    .card-5-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      position: relative;
      width: 100%;
      margin: 15% 0 0 10%;
      z-index: 19;
    }
    .card-5-content > img {
      width: 8vh;
    }
    .website-design-development {
      color: #c8c8c8;
      font-family: Rubik, var(--default-font-family);
      font-size: 16px;
      line-height: 20px;
      width: 88%;
    }
    .background-12 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2A2E35;
      border-radius: 15px;
      z-index: 14;
    }
    .card-6 {
      position: absolute;
      width: 24vh;
      height: 20vh;
      top: 22vh;
      right: 3vh;
    }
    .card-6-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 90%;
      margin: 15% 0 0 11%;
    }
    .icon-15 {
      flex-shrink: 0;
      position: relative;
      width: 8vh;
      height: 8vh;
      background: url(./assets/images/e22711b7-b0c5-4ad3-82d4-4f260cf50c99.png) no-repeat center;
      background-size: 100% 100%;
      z-index: 33;
    }
    .social-media-marketing {
      width: 95%;
      height: 10%;
      color: #c8c8c8;
      font-family: Rubik, var(--default-font-family);
      font-size: 17px;
      line-height: 21px;
      z-index: 34;
    }
    .background-16 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2A2E35;
      border-radius: 15px;
    }
    .card-7 {
      position: absolute;
      width: 24vh;
      height: 20vh;
      top: 45vh;
      left: -2vh;
    }
    .card-7-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 27px;
      position: relative;
      width: 88%;
      height: 80%;
      margin: 15% 0 0 11%;
      z-index: 40;
    }
    .card-7-content > img {
      height:5vh; 
    }
    .video-editing-production {
      display: flex;
      color: #c8c8c8;
      font-size: 17px;
      font-weight: 500;
      line-height: 23px;
      text-align: left;
    }
    .background-1c {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #2A2E35;
      border-radius: 15px;
    }
    .card-8{
      position: absolute;
      width: 25vh;
      height: 20vh;
      top: 45vh;
      right: 3vh;
    }
    .card-8-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      position: relative;
      width: 88%;
      margin: 15% 0 0 11%;
      z-index: 45;
    }
    .card-8-content > img {
      height: 6vh;
    }
    .content-writing {
      display: flex;
      color: #c8c8c8;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
    }
    .background-20 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2A2E35;
      border-radius: 15px;
      z-index: 44;
      transition: background-color 0.3s ease;
    }
    
    .cardo:hover > [class^="background"] {
      background-color: #4c4f53;
    }
    
    @keyframes color-rotate {
      from {
          filter: hue-rotate(0deg);
      }
      to {
          filter: hue-rotate(360deg);
      }
    }
    
    
    .Abubaker:hover {
      animation: color-rotate 1s;
      animation-iteration-count: infinite; 
      animation-direction: alternate;
    }
  
}